.player-timedtext-text-container{z-index:100!important;}
.player-timedtext .player-timedtext-text-container:hover{cursor:pointer;}


body.open-tr-panel .sizing-wrapper{width:80vw!important;right:0!important; left:auto!important;}
body:not(.open-tr-panel) #translate-ext{
	display:none!important;
}


#translate-ext-main-tr{
position: fixed;
z-index:1000;
padding:20px;
background:#000;
bottom:30%;
border:2px solid white;
border-right:0;
padding:20px;

max-width:400px;
font-size:2.2vw;
box-shadow:0 0 10px rgba(0,0,0,.5);
 transform: translateX(400px);
transition:all 0.5s ease;
right:0;
border-radius:2px;
opacity:0;
}

#translate-ext-main-tr.open-bg-tr{
transform: translateX(0);
opacity:1;
}


#translate-ext{z-index:1000;position:absolute; box-shadow:10px 0 15px rgba(0,0,0,.5); max-width:800px;  height:100vh; overflow:hidden; background:white; color:#333; font-family:sans-serif!important;font-size:25px; }

#translate-ext > * {width:20vw; min-width:300px; max-width:500px; overflow:auto; height:100vh; }


#translate-ext #subtitle-wrap{line-height:1.5; max-height:90vh; box-shadow:inset 0px 0 20px rgba(0,0,0,.2);}
#translate-ext > *::-webkit-scrollbar {
    width: 10px;
	background-color: #ddd;
}
 
#translate-ext > *::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #ddd;
}
 
#translate-ext > *::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #bbb;

}

#translate-ext #subtitle-wrap dl{border-bottom:1px solid #eee; margin:0; padding:15px; }
#translate-ext #subtitle-wrap dl:not(.sent-tr-open){cursor:pointer; }
#translate-ext #subtitle-wrap dl:not(.sent-tr-open):hover{background:#eee; }


#translate-ext #subtitle-wrap dl:not(.sent-tr-open) dd{display:none;}

#translate-ext #subtitle-wrap dl dt{font-size:85%; color:#222; }
#translate-ext #subtitle-wrap dl dt  span{transition:all .5s ease;  cursor:pointer;}
#translate-ext #subtitle-wrap dl dt  span:hover{background:yellow; }
#translate-ext #subtitle-wrap dl dd{padding:0; margin:10px;}


#translate-ext #subtitle-wrap dl.sent-tr-open dd{color:#888; font-size:70%;}




#translate-ext.open-tr-panel #translation-wrap {z-index:2; display:block; position:absolute; z-index:2; top:0; background:#fff; box-shadow:10px 0 15px rgba(0,0,0,.2);  }
#translate-ext.open-tr-panel #translation-wrap #tr-close-x{height:100vh; background:#555; width:0px; position:absolute; right:0; top:0; cursor:pointer; z-index:3; }
#translate-ext.open-tr-panel #translation-wrap #tr-close-x:before{
content:"";
position:fixed;
width:30px;
height:30px;
margin-top:10px;
background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsSAAALEgHS3X78AAABZUlEQVRIia3WMUvDQBjG8X+OFkHFTRAc7OCkH6AgHTqJdiuW4NDBj+bgINeTbFWcOojgqujkoIMguIkK0pJzqSFJk8t71duSuzw/uHtfLpAb1lqVf+c70hmZMGNMczAY3GmtN+cN11q3jDG3URQ1MoAxphnH8SWwBYzmQbTWLeDcWrs9mUxGURQ1FMBwOFyI4/gMWJmuXfdFfsOBZQBr7cZ4PD5RAJ1O5xs4BD5S34iRfPh0vABHyRaFYXgF7PsijvB2GIaPmUP2RarCIVdFPogkvBCQINLwUqACuQYuJOFOwIGsAkuS8Eogh3wVTL+6wkXAX0clkDrQxYLpNSr6xAmUVMsb8Jl6djZjKeAoxR1gD2EzFgJVde7T8TOAtImkSAbw6VApkgC+4VIkuXCAU99wAXKcXDhKqQPg3Te8DAmC4Ller/eTLer1ejdKqV3gwTc8jwRBcF+r1drdbvdpZtF//7b8ACaq9Jda1r3NAAAAAElFTkSuQmCC') center no-repeat;

}
#translate-ext.open-tr-panel #translation-wrap  >*{padding-right:30px!important;}
#translate-ext #translation-wrap{display:none;	}
#translate-ext #translation-wrap .tr-title{font-size:120%; font-weight:bold;margin:10px;}



#translate-ext #translation-wrap #img-tr-wrap{display:flex; flex-wrap:wrap; justify-content:center; padding-top:5px; max-height:346px; overflow:hidden; max-width:300px; margin:auto;}
#translate-ext #translation-wrap #img-tr-wrap img{width:90px; height:80px; object-fit:cover; margin:2px; border:1px solid #ddd; box-shadow:0 2px 15px rgba(0,0,0,.1); border-radius:3px;}



#translate-ext #describe-tr-wrap{margin:0 10px; }

#translate-ext  #describe-tr-title span{background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACoUlEQVR4nGJgIBJ8//7d+cbNW29v37nzGFkcAAAA//9iIkbzu/fva+/cvbdHSFBQ6Pv3HzLIcgAAAAD//yKIHj16vPfqtev/v3z58v//////L166/B9ZHgAAAP//YsGl8c+fP+J37t498/3HdxlVFWUGVlZWBgYGBoZ///6hqAMAAAD//8Iw4P37D9kfPn4MunL1mpWAAD+HrIwMAxMTwqfoBgAAAAD//0IJg6tXrz1++uzZFFZWFqffv39zyMvJoWiGGXDv/v29f/78EWdgYGAAAAAA//9Ckf3y9auMtpYmg7SUFIZNyAb8+/vP6eGjR8sYGBgYAAAAAP//YkKXxOVUZHF5eTmGV69eOzEwMDAAAAAA//9U0MEJADAMA7Hbf2GDSbn+AplAoHOQhLaoJEFFTzpvBnWBDwAA//9UzLEJACAMRcEHWUH338QtdIdfpFPSJGAnWB/cF0jC3clMJBERVNVzM2Ofw5yL3toAuAAAAP//QjHg//9/L3bu3CUhKSnB8OrlS4Zv374x/Pz5E+4KDg4Ohs+fPzOIiAgfVFRUiGJgYGAAAAAA//9CCYOoyEhJS0uL0m/fv5/49PnTrzNnzzL8+vWb4du3bwwfP35k+PbtG8OXL58ZTIyNHVhZWV8yMDAwAAAAAP//YsQaUgwMDL9//xZfu3bthZ+/fkno6+kxMDIyMrCxsTHs2bOXITc3B64PAAAA///CmRdYWVlfRkRESIoIixzbu28fw9u3bxm+fv3K8PnLZxR1AAAAAP//IpiZfHy8ncxMTSfs2LGT4cqVqwzv379nYGRkZIXJAwAAAP//ggUiIwMDAzMjIyMLIyMjJxTzQWl2Z2fnVZs3b368bdv2ZnYO9p8sLCwGf//+ffjv3793AAAAAP//AwAB0wo2FiR15AAAAABJRU5ErkJggg==') center right no-repeat; padding-right:17px; cursor:pointer;}
#translate-ext #describe-tr-wrap i{font-size:50%; opacity:0.7; margin:0; padding:0; background:#f2f2f2;}
#translate-ext #describe-tr-wrap dl {display:flex;margin:0; padding:0; flex-wrap:wrap; min-height:35px;}
#translate-ext #describe-tr-wrap dl dt{margin:0; padding:0; font-weight:bold; font-size:65%; min-width:40%;}
#translate-ext #describe-tr-wrap dl dd{margin:0; padding:5px 0 0 10px; font-size:50%; opacity:.8; max-width:50%; line-height:1.2;}


